<div class="container">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" 
    ng-model="searchString" ng-model-options="{debounce: 300}">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="searchUsers(searchString, currentPage, pageSize)" ng-disabled="!searchString">Go!</button>
    </span>
  </div>
  <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid">
    <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
  </div>
</div>